* {
    margin: 0;
    padding: 0;
}

header {
    margin-top: 40px;
    margin-left: 70px;
}

span {
    color: #333;
    font-family: Inconsolata;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;

}

.container {
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    margin-top: 150px;


}



.photo>img {
    width: 70%;


}

h1 {
    color: var(--gray-1, #333);
    font-family: Space Mono;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

p {
    color: var(--gray-2, #4F4F4F);
    font-family: Space Mono;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 36px;
    width: 50%;
}


button {
    background: var(--gray-1, #333);
    padding: 23px 43px;
    color: #FFF;
    font-family: Space Mono;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 44px;
}

@media screen and (max-width: 576px) {
    .container {
        flex-direction: column;
    }

    header{
        margin-left: 20px;
    }

    h1 {
        color: var(--gray-1, #333);
        font-family: Space Mono;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

    }

    p {
        color: var(--gray-2, #4F4F4F);
        font-family: Space Mono;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: 100%;
        
    }

    




}